$text-color: #fff;
$primaryColor: #407bff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-blue {
  color: #407bff;
}

.container {
  max-width: 1220px;
  margin: auto;
}

.back_btn {
  color: var(--gray-gray-700, #334155);
  cursor: pointer;

  &:hover {
    color: $primaryColor;
  }
}
